
<mat-card>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let user of group?.users">
        
        <mat-icon mat-list-icon>person</mat-icon>
        <div mat-line>{{user.name}}</div>       
        <div mat-line *ngIf="user.balance !== 0" [ngStyle]="{'color': user.balance > 0 ? 'green' : 'red'}">{{user.balance / 100 | currency}}</div>
        <div mat-line *ngIf="user.balance === 0" color="primary">Rozliczony</div>        
        <!-- <button color="primary" mat-icon-button (click)="edituser(user)">
          <mat-icon>edit</mat-icon>
        </button> -->
        <button color="warn" mat-icon-button *ngIf="canDeleteUserFromGroup(user)" (click)="deleteUserFromGroup(user)" matTooltip="Usuń z grupy">
          <mat-icon>close</mat-icon>
        </button>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="invite()" class="add-button">
      Zaproś do grupy
    </button>
    <!-- <button mat-button color="primary" (click)="addNewPerson()" class="add-button">
      Dodaj ręcznie
    </button> -->
  </mat-card-actions>
</mat-card>
