<mat-toolbar color="primary" class="mat-elevation-z8">
    <button mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset$ | async) && (isAuthenticated$ | async)">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Rozliczanie wydatków</span>
    <span class="spacer"></span>
    <a routerLink="groups" mat-button *ngIf="isAuthenticated$ | async">
        MOJE GRUPY
    </a>
    <a routerLink="account" mat-button *ngIf="isAuthenticated$ | async">
        KONTO
    </a>
    <button routerLink="groups" mat-button (click)="logout()" *ngIf="isAuthenticated$ | async">
        WYLOGUJ
    </button>

    <a routerLink="login" mat-button *ngIf="!(isAuthenticated$ | async)">
        ZALOGUJ
    </a>
</mat-toolbar>