<mat-toolbar color="primary" class="mat-elevation-z8">
    <button mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset$ | async) && (isAuthenticated$ | async)">
        <mat-icon>menu</mat-icon>
    </button>    
    <a routerLink="groups" mat-button>
        <mat-icon>monetization_on</mat-icon>
    </a>
    <span class="spacer"></span>
    <button routerLink="groups" mat-button (click)="logout()" *ngIf="isAuthenticated$ | async">
        WYLOGUJ
    </button>

    <a routerLink="login" mat-button *ngIf="!(isAuthenticated$ | async)">
        ZALOGUJ
    </a>
</mat-toolbar>