<div class="container">
  <div class="groups">
    <mat-nav-list>
      <div mat-subheader>Twoje grupy</div>
      <a mat-list-item *ngFor="let group of groups$ | async; last as last" [routerLink]="[group.id]">
        <mat-icon mat-list-icon>group</mat-icon>
        <div mat-line>{{group.name}}</div>
        <div mat-line>Utworzono: {{group.timeCreated | date}}</div>
        <!-- <button mat-icon-button matTooltip="Opcje" [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="deleteGroup(group)">Usuń grupę</button>
          <button mat-menu-item (click)="editGroup(group)">Edytuj grupę</button>
        </mat-menu> -->
        <mat-divider *ngIf="!last"></mat-divider>
      </a>
    </mat-nav-list>
    <div>
      <button mat-button color="primary" (click)="addNewGroup()">
        Stwórz nową grupę
      </button>
    </div>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="tabs">
    <router-outlet></router-outlet>
  </div>
</div>