.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.btn {
  margin-left: 5px;
  margin-right: 5px;
}

.buttons {
  margin-top: 10px;
}

mat-form-field {
  width: 400px;
}