<div class="container">
  <div class="row" *ngIf="(isAuth$ | async) && !isGroupMember()">    
    <h3 class="join-hdr">
      Nie jesteś członkiem tej grupy
    </h3>
    <button class="join-btn" mat-flat-button color="accent" (click)="onJoinGroup(group)">
      Dołącz
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="row">
    <div class="mat-headline" style="margin: 15px;">
      <mat-icon inline="true">group</mat-icon><b> {{group?.name}}</b>
    </div>
    <div fxFlex></div>
    <button mat-button [matMenuTriggerFor]="menu" color="primary" class="opt-btn" *ngIf="optionsVisible()">
      Opcje grupy
    </button>  
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onEditGroup(group)" *ngIf="!group?.archived">
        <mat-icon>edit</mat-icon>
        <span>Edytuj grupę</span>
      </button>
      <button mat-menu-item (click)="onArchiveGroup(group)" *ngIf="!group?.archived">
        <mat-icon>archive</mat-icon>
        <span>Archiwizuj grupę</span>
      </button>
      <button mat-menu-item color="warn" (click)="onDeleteGroup(group)">
        <mat-icon color="warn">delete</mat-icon>
        <span>Usuń grupę</span>
      </button>
    </mat-menu>
  </div>
  <div class="row">
    <div [matTooltip]="!group?.archived ? 'Najpierw dodaj minimum 2 członków' : 'Grupa jest zarchiwizowana'" [matTooltipDisabled]="group?.members.length >= 2 && !group?.archived">
      <button mat-raised-button color="primary" [disabled]="group?.members.length < 2 || group?.archived" class="add-btn" (click)="onAddExpense()">
        <mat-icon class="btn-icon">playlist_add</mat-icon>Dodaj wydatek
      </button>
    </div>
    <div matTooltip="Grupa jest zarchiwizowana" [matTooltipDisabled]="!group?.archived">
      <button mat-raised-button class="add-btn" [disabled]="group?.archived" (click)="onAddMember()">
        <mat-icon class="btn-icon">person_add</mat-icon>Dodaj członka grupy
      </button>
    </div>    
  </div>
</div>
