<h1 mat-dialog-title>
  {{input.title}}
</h1>
<div mat-dialog-content class="content">
    <mat-form-field >
      <mat-label>Nazwa grupy</mat-label>
      <input matInput [(ngModel)]="name">
    </mat-form-field>
    <div class="chck-wrap">
      <mat-checkbox [(ngModel)]="forRegisteredOnly">
        Tylko dla zarejestrowanych użytkowników
      </mat-checkbox>
    </div>
    
  </div>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="null">
    Anuluj
  </button>
  <button mat-button [disabled]="isAddButtonDisabled()" [mat-dialog-close]="getResult()">
    Zapisz
  </button>
</div>
