.add-button {
  margin: 30px;
}

table {
  width: 100%;
}

.buttons {
  padding-left: 30px;
}

.expense-header {
  padding-top: 20px;
}

.container {
  height: 100%;
  overflow-y: auto;
}

.mat-tab-body-wrapper {
  height: 100%;
}

.payment {
  color: green;
}

h2.header-empty {
  padding: 20px;
}